.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-info {
    color: $info-color !important;
}

.text-success {
    color: $success-color !important;
}

.text-warning {
    color: $warning-color !important;
}

.text-danger {
    color: $danger-color !important;
}
