.tooltip {
    font-family: $font-family;
    z-index: 1050;
}

.tooltip-arrow {
    border-color: #444444 !important;
    opacity: 0.9 !important;
}

.tooltip-inner {
    background: #444444 !important;
    border-radius: 0.25rem !important;
    font-size: $font-size * 0.8;
    padding: 0.25rem 0.5rem !important;
    opacity: 0.9 !important;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #444444;
    opacity: 0.9 !important;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #444444;
    opacity: 0.9 !important;
}

.bs-tooltip-left .arrow::before {
    border-left-color: #444444;
    opacity: 0.9 !important;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #444444;
    opacity: 0.9 !important;
}
